/*公共*/
	*{
		font-family: "微软雅黑 Bold","微软雅黑";
	}
	a{
		text-decoration: none;
	}
	li{
		list-style-type: none;
	}
	dd{
		float: left;
		height: 40px;
		margin-left:2%;
	}
	.title{
		color:red;
	}
	.dc{
		line-height: 40px;
	}
	.clear{
		clear:both;
	}
	/*快递*/
	td{
		height: 70px;
		border-bottom: 1px solid #eee;
	}
	.sendman_left{
		width: 30%;
		text-align: left;
	}
	.sendman_right{
		text-align: right;
	}
	#senman_personal img{
		margin-top: 2%;
		border-radius: 30px;
	}

	#afui input[type="radio"] + label{
		float: left;
		margin-left: 10%;
	}
	#afui .listview{
	margin: 0 -10px;
	background:#fff;	
	}
	#afui .listview li{
		border-bottom: 1px solid #CCCCCC;
	    display: block;    
		padding-left:10px;
		position:relative;
	}
	#afui .listview li a{
		text-decoration:none;
		display:block;
		color:#666;
		height:60px;
		line-height:60px;
			 
	}
	#afui .listview > li > a:after {
	  position: absolute;
	  right: 8px;
	  font-family: 'chevron';
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;
	  -webkit-font-smoothing: antialiased;
	  content: "\f054";
	  top: 50%;
	  margin-top: -0.5em;
	  color:inherit;
	}
	#afui .listview li a .af-badge {
		position:absolute;
		top:20px; right:24px;
		display:inline-block;
		min-width:20px;	max-width:90%; height:20px;
		padding:0 3px;
		background-color:red;
		border-radius:20px;
		font-size:12px;
		line-height:19px;
		font-weight:bold;
		color:#fff;
		text-overflow:ellipsis;
		text-align:center;
		text-shadow:0 -1px 0 rgba(64,0,0,.6);
	}
	#afui #personal_content{
			color: black;
			height: 150px;
			margin: 10px auto;
			/*background: #0068A6;*/
		}
		#afui #personal_left{
			width: 80%;
			height: 150px;
			float: left;
		}
		#afui #personal_right{
			width: 20%;
			height: 150px;
			float:left;
			text-align: center;
		}
		#afui #personal_chose li{
			text-indent: 20%;
			height: 40px;
			line-height: 40px;
			border-bottom: 1px solid #eee;
			color: #666666;
		}
		#afui #personal_chose li span{
			font-size: 10px;
			color:#999999;
			margin-left: 20%;
		}
		#personal_info_box{
			height: 100px;
			border-bottom: 1px solid #eee;
			border-top:1px solid #eee;
			position: relative;
		}
		#afui #personal_info li{
			margin-top: 10px;
			width: 50%;
			float: left;
			height: 80px;
			text-align: center;
			line-height: 40px;
		}

		#afui #personal_info li span{
			font-size: 10px;
			color:#999999;
		}
		#afui #personal_info #new_info{
			display: block;
			margin-top:10px;
		}
		#afui #personal_info #new_order{
			display: block;
			margin-top:10px;
		}
		#afui #user_personal li:hover{
			background: #76ADDE;
			color: #fff;
		} 
		#personal_right  button:first-child{
			margin-top: 10px;
		}
		#afui #personal_left_top{
			display: block;
			height: 100px;
			margin: 0;
		}
		#afui #persoanl_right_bottom{
			height: 50px;
			margin: 0;
		}
		#afui #personal_left_top img{
			width: 60px;
			height: 60px;
			border-radius: 50px;
			margin-left: 10px;
			margin-top: 20px;
			border:2px solid #878787;
		}
		#afui #personal_left_top_pic{
			width: 20%;
		}
		#afui #personal_left_top span{
			/*color: #fff;*/
			display: block;
			float: left;
			text-align: center;
		}
		#afui #personal_left_top .seven{
			width: 70%;
		}
		#afui #personal_left_top span:nth-child(2){
			margin-top: 20px;
		}
		#afui #persoanl_right_bottom span{
			display: block;
			float: left;
			text-align: center;
			/*color: #fff;*/
		}
		#afui #persoanl_right_bottom span:first-child{
			height: 50px;
			line-height: 50px;
			width: 20%;
			border-right: 1px solid #999999;
			font-weight: bold;
		}
		#afui #persoanl_right_bottom .eight{
			margin-top: 5px;
			width: 80%;
			text-indent: 20px;
			text-align: left;
			font-weight: bold;
		}
		#afui #persoanl_right_bottom .eighter{
			font-size: 11px;
			font-weight: none;
		}

	#afui .listview li a img{	
		
		float:left;
		display:block;
		padding-top:12px;
		padding-right:6px;
	}
	#afui .listview li.divider {
    color: #6C6C6C;
    background: none repeat scroll 0% 0% #ECF2F5;
    padding: 8px 20px 8px 4px;
	}
	#afui .listview li {
    border-bottom: 1px solid #CCC;
    display: block;
    padding-left: 10px;
    position: relative;
	}
	/*供应商个人中心*/
	#banner{
	margin:10px 0;
	height: 120px;
	background:#0068A6;
	color: #fff;
	font-family: "微软雅黑";
	position: relative;
	}
	#banner a{
		color: #fff;
	}
	#banner img{
		border-radius: 50px;
	}
	.banner_pic{
		width: 25%;
		text-indent: 10px;	
		position: absolute;
		top: 20px;
	}
	.banner_duty{
		width: 30%;
		position: absolute;
		left: 20%;
		top: 40%;
	}
	.banner_prove{
		width: 30%;
		position: absolute;
		left: 60%;
		top: 40%;
	}
	#banner_menu li{
		float:left;
		width: 50%;
		text-align: center;
		height: 60px;
		line-height: 60px;
		border:1px solid #eee;
		left;
		font-weight: bold;
		text-shadow: 0 1px 0 #fff;
	}
	#banner_menu li a:hover{
		background: #0068A6;
		color: #fff;
	}
	#banner_menu a{
		display: block;
		color: #53575E;
	}
	/*上货 */
	#reshelf_menu li{
		height: 120px;
	}
	#reshelf_menu li img{
	}
	.reshelf_level{
		font-size: 100px;
		float: left;
	}
	#reshelf_menu p{
		float: left;
		margin: 1% 10%;
		padding: 0;
	}
    #afui .list > li > a:after {
		content:"";
	}
	/*上货细节*/
	#afui #details input[type="text"]{
		margin-bottom: 0;
	}
	#afui #details .button{
		margin: 0 0 20px 0;
	}
	#afui #register  .col{
		color:red;
	}
	/*warehouse_add*/
	#afui #warehouse_add td,#afui #warehouse_set td,#employee_manager td{
		text-align: center;
	}
	#aufi  .gray{
		background: red;
	}
	#afui #warehouse_detail #one_reminder{
		height: 35px;
		background: #0088D1;
		color: #fff;
		line-height: 35px;
		text-align: center;
	}
	#afui #warehouse_detail .input-group p 	,#afui #warehouse_adding p,#afui #employee_add .input-group p,#afui #loading_detail .input-group p{
		border-bottom: 1px solid #eee;
		text-indent: 10px;
		background: #0088D1;
		color: #fff;
		margin:0;
	}
	#afui #warehouse_set input[type="checkbox"] + label:before,#afui #warehouse_set input[type="raio"] + label:before {
	/*position: absolute;
	top: -5px;
	left: -10px;*/
	margin-left: 20px;
	margin-top:-10px;
	}
	#afui #warehouse_set input[type="radio"]:not(.toggle) + label:before {
    margin-left: 20px;
	margin-top:-10px;
	}
	#afui .shut_out{
		height: 50px;
	}
	#afui #personal_content{
			color: black;
			height: 150px;
			margin: 10px auto;
			/*background: #0068A6;*/
		}
		#afui #personal_left{
			width: 80%;
			height: 150px;
			float: left;
		}
		#afui #personal_right{
			width: 20%;
			height: 150px;
			float:left;
			text-align: center;
		}
		#afui #personal_chose li{
			text-indent: 20%;
			height: 40px;
			line-height: 40px;
			border-bottom: 1px solid #eee;
			color: #666666;
		}
		#afui #personal_chose li span{
			font-size: 10px;
			color:#999999;
			margin-left: 20%;
		}
		#personal_info_box{
			height: 100px;
			border-bottom: 1px solid #eee;
			border-top:1px solid #eee;
			position: relative;
		}
		#afui #personal_info li{
			margin-top: 10px;
			width: 50%;
			float: left;
			height: 80px;
			text-align: center;
			line-height: 40px;
		}

		#afui #personal_info li span{
			font-size: 10px;
			color:#999999;
		}
		#afui #personal_info #new_info{
			display: block;
			margin-top:10px;
		}
		#afui #personal_info #new_order{
			display: block;
			margin-top:10px;
		}
		#afui #user_personal li:hover{
			background: #76ADDE;
			color: #fff;
		} 
		#personal_right  button:first-child{
			margin-top: 10px;
		}
		#afui #personal_left_top{
			display: block;
			height: 100px;
			margin: 0;
		}
		#afui #persoanl_right_bottom{
			height: 50px;
			margin: 0;
		}
		#afui #personal_left_top img{
			width: 60px;
			height: 60px;
			border-radius: 50px;
			margin-left: 10px;
			margin-top: 20px;
			border:2px solid #878787;
		}
		#afui #personal_left_top_pic{
			width: 20%;
		}
		#afui #personal_left_top span{
			/*color: #fff;*/
			display: block;
			float: left;
			text-align: center;
		}
		#afui #personal_left_top .seven{
			width: 70%;
		}
		#afui #personal_left_top span:nth-child(2){
			margin-top: 20px;
		}
		#afui #persoanl_right_bottom span{
			display: block;
			float: left;
			text-align: center;
			/*color: #fff;*/
		}
		#afui #persoanl_right_bottom span:first-child{
			height: 50px;
			line-height: 50px;
			width: 20%;
			border-right: 1px solid #999999;
			font-weight: bold;
		}
		#afui #persoanl_right_bottom .eight{
			margin-top: 5px;
			width: 80%;
			text-indent: 20px;
			text-align: left;
			font-weight: bold;
		}
		#afui #persoanl_right_bottom .eighter{
			font-size: 11px;
			font-weight: none;
		}
